*.DS_Store
*.pkl
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.log
*.csv
*.rds
*.png
*.tif*  
*.nc
*.txt
*.tar
*.zip
*.7z
*.tgz
*.gz
*.params
*.Rhistory
.ipynb_checkpoints
*.swp
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.vrt
*.xml
*.shx
*.img
*.sdat
*.sgrd
*.wkt
__pycache__
SOMOSPIE/out/*
SOMOSPIE/data/*

